@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 28, 28, 28;
    --white: 255, 255, 255;
  }
}

.client-logos {
  -webkit-box-shadow: 0px 331px 93px 0px rgba(245, 192, 132, 0),
    0px 212px 85px 0px rgba(245, 192, 132, 0.01),
    0px 119px 71px 0px rgba(245, 192, 132, 0.05),
    0px 53px 53px 0px rgba(245, 192, 132, 0.09),
    0px 13px 29px 0px rgba(245, 192, 132, 0.1);
  -moz-box-shadow: 0px 331px 93px 0px rgba(245, 192, 132, 0),
    0px 212px 85px 0px rgba(245, 192, 132, 0.01),
    0px 119px 71px 0px rgba(245, 192, 132, 0.05),
    0px 53px 53px 0px rgba(245, 192, 132, 0.09),
    0px 13px 29px 0px rgba(245, 192, 132, 0.1);
  box-shadow: 0px 331px 93px 0px rgba(245, 192, 132, 0),
    0px 212px 85px 0px rgba(245, 192, 132, 0.01),
    0px 119px 71px 0px rgba(245, 192, 132, 0.05),
    0px 53px 53px 0px rgba(245, 192, 132, 0.09),
    0px 13px 29px 0px rgba(245, 192, 132, 0.1);
}

.card {
  background: linear-gradient(
    -28deg,
    rgba(238, 238, 245, 1) 0%,
    rgba(246, 246, 249, 1) 100%
  );
}

.check-container {
  -webkit-box-shadow: 0px 129px 36px 0px rgba(184, 201, 234, 0.01),
    0px 83px 33px 0px rgba(184, 201, 234, 0.04),
    0px 47px 28px 0px rgba(184, 201, 234, 0.14),
    0px 21px 21px 0px rgba(184, 201, 234, 0.23),
    0px 5px 11px 0px rgba(184, 201, 234, 0.27);
  -moz-box-shadow: 0px 129px 36px 0px rgba(184, 201, 234, 0.01),
    0px 83px 33px 0px rgba(184, 201, 234, 0.04),
    0px 47px 28px 0px rgba(184, 201, 234, 0.14),
    0px 21px 21px 0px rgba(184, 201, 234, 0.23),
    0px 5px 11px 0px rgba(184, 201, 234, 0.27);
  box-shadow: 0px 129px 36px 0px rgba(184, 201, 234, 0.01),
    0px 83px 33px 0px rgba(184, 201, 234, 0.04),
    0px 47px 28px 0px rgba(184, 201, 234, 0.14),
    0px 21px 21px 0px rgba(184, 201, 234, 0.23),
    0px 5px 11px 0px rgba(184, 201, 234, 0.27);
}
